.table-row-cell:error {
    -fx-background-color: pink;
}

.table-row-cell:success {
    -fx-background-color: lightgreen;
}

.table-row-cell:selected {
    -fx-background-color: blue;
}


.separator *.line: {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}